<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.customerService.form" (ngSubmit)='onSubmit()'>
      <input type="hidden" formControlName="$key" />
      <div class="form-group">
        <label>Customer Full Name</label>
        <input formControlName="fullName" class="form-control"
        [ngClass]="{'is-invalid': submitted && formControls.fullName.errors}"
        />
        <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">
          REQUIRED!
        </div>
      </div>
      <div class="form-group">
        <label>Mobile Nr.</label>
        <input formControlName="mobile" class="form-control" 
        [ngClass]="{'is-invalid' : submitted && formControls.mobile.errors}"
        />
        <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
          <label *ngIf="formControls.mobile.errors.required">REQUIRED!</label>
          <label *ngIf="formControls.mobile.errors.minlength">9 digits!</label>
        </div>
      </div>
      <div class="form-group">
        <label>Postal Code</label>
        <input formControlName="postalCode" class="form-control" />
      </div>
      <div class="form-group">
        <label>City</label>
        <input formControlName="city" class="form-control" />
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
    <div class="alert alert-info" *ngIf="showSucessMess">
      Submitted successfully.
    </div>
  </div>
  <div class="col-md-7">
    <app-customer-list></app-customer-list>
  </div>
</div>
